@{
	Layout = null;
}
<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
@using AdminUI.Models
@model LoginViewModel
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login | rd_admin panel</title>
	<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/auth.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="card-body text-center">
					<div class="mb-4">
						<img class="brand" src="/assets/img/bootstraper-logo.png" alt="bootstraper logo">
					</div>
					<h6 class="mb-4 text-muted">Login to your account</h6>
					@using (Html.BeginForm("GirisYap", "Account", FormMethod.Post))
					{
						<div class="mb-3 text-start">
							<label for="email" class="form-label">E-Posta Adresiniz</label>
							@Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder ="E-Posta", type="email"})
							<span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
						</div>
						<div class="mb-3 text-start">
							<label for="password" class="form-label">Şifre</label>
							@Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre", type = "password" })
							<span class="text-danger">@Html.ValidationMessageFor(x => x.Password)</span>
						</div>
						<div class="mb-3 text-start">
							<div class="form-check">
								<input class="form-check-input" name="remember" type="checkbox" value="" id="check1">
								<label class="form-check-label" for="check1">
									Beni hatırla
								</label>
							</div>
						</div>
						<span class="text-danger">@Html.ValidationMessage("ozelHataMesaji")</span>
						<br />
						<br />
						<button type="submit" class="btn btn-primary shadow-2 mb-4">Giriş Yap</button>
					}
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>