@using AdminUI.Models
@model SlaytViewModel
<div class="container">
	<div class="page-title">
		<h3>Slayt İşlemleri</h3>
	</div>
	<div class="row">

		<div class="col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">Slayt Ekle</div>
				<div class="card-body">
					<p class="card-title">Slayt ekleme işlemi yapabilirsiniz.</p>

					@using (Html.BeginForm("SlaytEkle", "Slayt", FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						<div class="mb-3">
							<label for="email" class="form-label">Başlık</label>
							@Html.TextBoxFor(x => x.Baslik, new { placeholder = "Başlık", @class = "form-control" })
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">İçerik</label>
							@Html.TextBoxFor(x => x.Icerik, new { placeholder = "İçerik", @class = "form-control" })
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Resim</label>
							@Html.TextBoxFor(x => x.ResimFile, new { type = "file", @class = "form-control" })
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Haber</label>
							@Html.DropDownListFor(x => x.HaberId, Model.Haberler, new { placeholder = "Haber Seçiniz", @class = "form-select" })
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Statü</label>
							<div class="form-check form-switch">
								@Html.CheckBoxFor(x => x.Aktifmi, new { @class = "form-check-input" })
							</div>
						</div>
						<br />
						<button type="submit" class="btn btn-primary">Ekle</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>