@using Shared.Dtos
@model List<SlaytlarDto>

<div class="container">
	<div class="page-title">
		<h3>Slayt İşlemleri</h3>
	</div>
	<div class="row">

		<div class="col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-9" style="line-height:50px;">Slaytlar</div>
						<div class="col-3"><a href="/Slayt/Ekle" style="float:right;color: white;background-color:green;" class="btn float-right m-2"><i class="fa fa-plus"></i></a></div>
					</div>
				</div>
				<div class="card-body">
					<p class="card-title">Slaytlar ile ilgili tüm işlemleri buradan yapabilirsiniz. Toplam Aktif Veri Sayısı : @Model.Where(x => x.Aktifmi == true).Count()</p>
					<table class="table table-hover" id="dataTables-example" width="100%">
						<thead>
							<tr>
								<th>Resim</th>
								<th>Başlık</th>
								<th>İçerik</th>
								<th>Haber</th>
								<th>Durum</th>
								<th style="min-width:110px;">İşlemler</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td><img style=" max-width: 150px; " src="@Url.Content(@conf.GetSection("Ayarlar")["ApiUrl"] + item.Resim)" /></td>
									<td>@item.Baslik</td>
									<td>@item.Icerik</td>
									<td>@item.Haber</td>
									<td>
										@if (item.Aktifmi)
										{
											<span class="badge bg-info">Aktif</span>
										}
										else
										{
											<span class="badge bg-danger">Pasif</span>
										}
									</td>
									<td>
										<a href="/Slayt/Guncelle?slaytId=@item.Id" class="btn btn-primary mb-2"><i class="fa fa-edit"></i></a>
										<a href="/Slayt/Sil?slaytId=@item.Id" class="btn btn-danger mb-2" style="width: 44px;"><i class="fa fa-times"></i></a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>